body {
  background-image: url("../images/wrestlemania.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  text-shadow: 2px 2px black;
}

h1 {
  color: rgb(2, 2, 138);
  font-size: 60px;
  font-family: 'Anton', sans-serif;
  text-shadow: 2px 2px rgb(250, 247, 247);
}

img {
  width: 130px;
  height: 70px;
  border-radius: 10px;
}

.section-title {
  font-size: 150%;
  font-family: 'Anton', sans-serif;

}

.main-section-title {
  font-size: 200%;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.character {
  display: inline-block;
  cursor: pointer;
  background-color: blue;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.character-image {
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.character-name {
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.character-health {
  text-align: center;
  color: yellow;
  font-family: 'Anton', sans-serif;
}

#available-to-attack-section .character {
  display: inline-block;
  cursor: pointer;
  background-color: grey;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.opponent {
  display: inline-block;
  cursor: pointer;
  background-color: grey;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

#action .character {
  color: white;
  background-color: black;
  border-color: black;
}

.target-enemy {
  color: white;
  background-color: black;
  border-color: black;
}

#selected-character {
  width: 190px;
  height: 130px;
}

#attacker {
  width: 190px;
  height: 130px;
}

#opponent {
  width: 190px;
  height: 130px;
}

#opponent-name {
  text-align: center;
  font-family: 'Anton', sans-serif;
}

#opponent-health {
  text-align: center;
  font-family: 'Anton', sans-serif;
}

#choose-opponent-button {
  visibility: hidden;
}

#restart-button {
  visibility: hidden;
}

#restart {
  background-color: Green;
  border: 1px;
  border-color: black;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  text-shadow: 1px 1px black;
  border-radius: 5px;
}

#turn-counter {
  font-size: 150%;
  font-family: 'Anton', sans-serif;
}

#game-message {
  float: right;
  margin-top: 200px;
  font-size: 30px;
  width: 50%;
  font-family: 'Arvo', serif;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px rgb(247, 241, 241);
}

#main-game-section {
  width: 50%;
  display: inline-block;
}

#attack-button {
  background-color: Red;
  border: 1px;
  border-color: black;
  color: black;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  text-shadow: 1px 1px grey;
  border-radius: 10px;
}